@import "bourbon";
@import "vars.scss";

@media (min-width: 768px) and (max-width: 991px){
  #sec_02, #sec_03, #sec_07, #sec_05{
    br{display: none;}
  }
  h2{font-size: 30px; line-height: 36px; }
  #sec_02, #sec_07{
    
    h2{
      margin-right: 0px;
    }
    .item--margined{
      padding-left: 40px;
    }
    .form_block{
      margin-top: 0;
      padding: 35px 45px 50px;
      &:after{
        display: none;
      }
      &:before{
        bottom: 0;
      }
    }
  }
  #sec_03{
    h2{
      margin-top: 0;
    }
    .sec_img{
      width: 100%;
    }
  }
  #sec_04{
    .sec_img-1{
      width: 100%;
    }
  }
  #sec_05{
    .sec_img-1{
      display: none;
    }
    .col-8{width: 100%;}
    .item_list{
      max-width: 325px;
    }
  }
  footer{
    .politics a{
      font-size: 13px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  #sec_02, #sec_03, #sec_07{
    br{display: none;}
  }
  #sec_03{
    h2{
      margin-top: 0;
    }
    .sec_img{
      width: 100%;
    }
  }
  #sec_05{
    .sec_img-1{
      width: 100%;
    }
    .item_list{
      br{display: none};
      max-width: 290px;
    }
    .item_list+.item_list{margin-left: 25px;}
  }
}

@media screen and (max-height: 740px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  [class*='col-']{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    float: none;
  }
  h2{font-size: 30px; line-height: 34px; }
  br{display: none;}
  #sec_02, #sec_07{
    padding: 80px 0;
    h2{
      margin-right: 0px;
      margin-bottom: 60px;
      &:before{
        display: none;
      }
    }
    .item--margined{
      padding-left: 0px;
      max-width: 600px;
      margin-right: 0;
    }
    .form_block{
      float: none;
      padding: 40px;
      max-width: 460px;
      margin: 40px auto 0;
      &:after, &:before{
        display: none;
      }
    }
  }
  #sec_03{
    text-align: center;
    h2{
      margin-top: 0;
    }
    .sec_img{
      display: none;
    }
  }
  #sec_04{
    .sec_img-1{
      width: 100%;
      max-width: 328px;
      display: block;
      margin: 0 auto 40px;
    }
  }
  #sec_05{
    h2{
      max-width: 600px;
      margin: 0 auto 40px;
    }
    .sec_img-1{
      display: none;
    }
    .col-8{width: 100%;}
    .item_list{
      max-width: 600px;
      margin: 32px auto 0;
      display: block;
    }
    .item_list+.item_list{margin-left: auto;}
  }
  #sec_08{
    h2{
      text-align: center;
      margin-bottom: 0;
    }
    .coach_item{
      margin: 60px auto 0;
    }
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart, .footer-fire{
      display: inline-block;
      float: none;
      vertical-align: top;
      margin: 10px 10px 0;;
    }
    .logo_rezart{margin-top: 15px;}
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 520px) {
h2{font-size: 28px; line-height: 32px; }
}