@import url(../libs/niftymodal/component.css);
#sec_02 h2, #sec_07 h2 {
  margin-bottom: 100px;
  position: relative;
  margin-right: -40px; }
  #sec_02 h2:before, #sec_07 h2:before {
    position: absolute;
    content: '';
    width: 262px;
    height: 2px;
    left: 0px;
    bottom: -62px;
    background-color: #000; }

#sec_02 .item--margined, #sec_07 .item--margined {
  padding-left: 100px;
  margin-right: -10px; }
  #sec_02 .item--margined .title, #sec_07 .item--margined .title {
    margin-bottom: 17px; }
  #sec_02 .item--margined .places_left, #sec_07 .item--margined .places_left {
    margin-bottom: 20px; }
  #sec_02 .item--margined .places_counter, #sec_07 .item--margined .places_counter {
    font-size: 24px; }

#sec_02 .form_block, #sec_07 .form_block {
  position: relative;
  float: right;
  width: 100%;
  max-width: 457px;
  padding: 35px 65px 50px;
  -webkit-box-shadow: 0 0 20px rgba(1, 1, 1, 0.15);
  box-shadow: 0 0 20px rgba(1, 1, 1, 0.15);
  background-color: #ffffff; }
  #sec_02 .form_block .text--sm, #sec_07 .form_block .text--sm {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #28292d; }
    #sec_02 .form_block .text--sm span, #sec_07 .form_block .text--sm span {
      color: #ff0000; }
  #sec_02 .form_block .btn, #sec_07 .form_block .btn {
    margin: 35px auto 15px; }
  #sec_02 .form_block .field + .field, #sec_07 .form_block .field + .field {
    margin-top: 5px; }
  #sec_02 .form_block:before, #sec_07 .form_block:before {
    position: absolute;
    content: '';
    width: 300px;
    height: 2px;
    left: -300px;
    bottom: 65px;
    background-color: #000; }

#sec_02 {
  padding: 105px 0 120px; }
  #sec_02 .form_block {
    margin-top: 150px; }
    #sec_02 .form_block:after {
      z-index: -1;
      position: absolute;
      content: '';
      width: 488px;
      height: 350px;
      right: 67px;
      top: -138px;
      background: url(../img/bl2_img1.png) center no-repeat; }

#sec_07 {
  padding: 155px 0 120px; }
  #sec_07 .form_block {
    margin-top: 66px; }
    #sec_07 .form_block:after {
      z-index: -1;
      position: absolute;
      content: '';
      width: 584px;
      height: 382px;
      right: 67px;
      top: -116px;
      background: url(../img/bl7_img1.png) center no-repeat; }

#sec_03 {
  padding: 80px 0 55px;
  background-color: #f7f7f7; }
  #sec_03 h2 {
    margin: 40px 0 20px; }

#sec_04 {
  padding: 105px 0 50px; }
  #sec_04 h2 {
    margin-bottom: 50px; }
  #sec_04 .title {
    margin-bottom: 20px; }
  #sec_04 .item_list {
    margin-top: 15px; }

#sec_05 {
  padding: 55px 0 110px; }
  #sec_05 h2 {
    margin: 0 -30px 55px 0; }
  #sec_05 .title {
    margin-bottom: 20px; }
  #sec_05 .item_list {
    display: inline-block;
    vertical-align: top; }
    #sec_05 .item_list li + li {
      margin-top: 32px; }
  #sec_05 .item_list + .item_list {
    margin-left: 45px; }

#sec_06 {
  background-color: #222222;
  background-image: url(../img/bl6_bg.jpeg);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding: 95px 0; }

.item_list li {
  padding-left: 30px;
  position: relative; }
  .item_list li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 7px;
    left: 0;
    background: url(../img/list.png); }

.item_list li + li {
  margin-top: 8px; }

footer {
  padding: 15px 0 20px;
  background-color: #202020; }
  footer .politics {
    margin-top: 17px; }
    footer .politics a {
      color: #65666a;
      font-size: 14px; }
    footer .politics a:hover {
      color: #a38f6a; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: 5px;
    margin-bottom: 0px;
    width: 80px;
    float: right; }
    footer .logo_rezart svg {
      width: 80px;
      fill: #fff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: .3s;
      transition: .3s; }
      footer .logo_rezart svg:hover {
        fill: #a38f6a; }

.hidden {
  height: 0;
  width: 0; }

div[id*="modal_callback"] {
  max-width: 500px; }
  div[id*="modal_callback"] h2 {
    font-size: 29px;
    line-height: 36px;
    margin: 30px; }
  div[id*="modal_callback"] .h2_desc {
    margin-bottom: 25px; }
  div[id*="modal_callback"] .md-content {
    padding: 20px;
    background: #fff;
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] .form-wrap {
    display: block; }
  div[id*="modal_callback"] .field {
    width: 360px; }
    div[id*="modal_callback"] .field input {
      width: 100%; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 5px; }
  div[id*="modal_callback"] .btn {
    margin: 10px auto 0; }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 50px; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 680px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
  display: block;
  right: 15px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  line-height: 14px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -10px;
  opacity: 1; }

.btn_close_modal {
  position: absolute;
  right: 15px;
  z-index: 10;
  top: 15px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .btn_close_modal svg {
    width: 40px; }
  .btn_close_modal a {
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .btn_close_modal a svg .a {
      -webkit-transition: all .3s;
      transition: all .3s;
      fill: #d4d4d4; }
  .btn_close_modal a:hover {
    color: #000; }
    .btn_close_modal a:hover svg .a {
      fill: #a38f6a; }

.t_small {
  font-size: 14px; }

input::-webkit-input-placeholder {
  color: #28292d;
  font: 16px "Gilroy-Light", sans-serif;
  line-height: 36px; }

input:-moz-placeholder {
  color: #28292d;
  font: 16px "Gilroy-Light", sans-serif;
  line-height: 36px; }

input::-moz-placeholder {
  color: #28292d;
  font: 16px "Gilroy-Light", sans-serif;
  line-height: 36px; }

input:-ms-input-placeholder {
  color: #28292d;
  font: 16px "Gilroy-Light", sans-serif;
  line-height: 36px; }

@media (min-width: 768px) and (max-width: 991px) {
  #sec_02 br, #sec_03 br, #sec_07 br, #sec_05 br {
    display: none; }
  h2 {
    font-size: 30px;
    line-height: 36px; }
  #sec_02 h2, #sec_07 h2 {
    margin-right: 0px; }
  #sec_02 .item--margined, #sec_07 .item--margined {
    padding-left: 40px; }
  #sec_02 .form_block, #sec_07 .form_block {
    margin-top: 0;
    padding: 35px 45px 50px; }
    #sec_02 .form_block:after, #sec_07 .form_block:after {
      display: none; }
    #sec_02 .form_block:before, #sec_07 .form_block:before {
      bottom: 0; }
  #sec_03 h2 {
    margin-top: 0; }
  #sec_03 .sec_img {
    width: 100%; }
  #sec_04 .sec_img-1 {
    width: 100%; }
  #sec_05 .sec_img-1 {
    display: none; }
  #sec_05 .col-8 {
    width: 100%; }
  #sec_05 .item_list {
    max-width: 325px; }
  footer .politics a {
    font-size: 13px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #sec_02 br, #sec_03 br, #sec_07 br {
    display: none; }
  #sec_03 h2 {
    margin-top: 0; }
  #sec_03 .sec_img {
    width: 100%; }
  #sec_05 .sec_img-1 {
    width: 100%; }
  #sec_05 .item_list {
    max-width: 290px; }
    #sec_05 .item_list br {
      display: none; }
  #sec_05 .item_list + .item_list {
    margin-left: 25px; } }

@media screen and (max-height: 740px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  [class*='col-'] {
    width: 100%; }
  h2 {
    font-size: 30px;
    line-height: 34px; }
  br {
    display: none; }
  #sec_02, #sec_07 {
    padding: 80px 0; }
    #sec_02 h2, #sec_07 h2 {
      margin-right: 0px;
      margin-bottom: 60px; }
      #sec_02 h2:before, #sec_07 h2:before {
        display: none; }
    #sec_02 .item--margined, #sec_07 .item--margined {
      padding-left: 0px;
      max-width: 500px;
      margin-right: 0; }
    #sec_02 .form_block, #sec_07 .form_block {
      float: none;
      padding: 40px;
      max-width: 460px;
      margin: 40px auto 0; }
      #sec_02 .form_block:after, #sec_02 .form_block:before, #sec_07 .form_block:after, #sec_07 .form_block:before {
        display: none; }
  #sec_03 {
    text-align: center; }
    #sec_03 h2 {
      margin-top: 0; }
    #sec_03 .sec_img {
      display: none; }
  #sec_04 .sec_img-1 {
    width: 100%;
    max-width: 328px;
    display: block;
    margin: 0 auto 40px; }
  #sec_05 h2 {
    max-width: 500px;
    margin: 0 auto 40px; }
  #sec_05 .sec_img-1 {
    display: none; }
  #sec_05 .col-8 {
    width: 100%; }
  #sec_05 .item_list {
    max-width: 500px;
    margin: 32px auto 0;
    display: block; }
  #sec_05 .item_list + .item_list {
    margin-left: auto; }
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 20px; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }

@media (max-width: 520px) {
  h2 {
    font-size: 28px;
    line-height: 32px; } }
