body {
  position: relative;
  font: 16px/24px "Gilroy-Light", sans-serif;
  color: #28292d;
  background-color: #fff; }

body.unscroll {
  overflow: hidden; }

h2 {
  font-size: 36px;
  line-height: 42px; }

.text--title {
  font-family: "Gilroy-ExtraBold", Roboto, sans-serif; }

.text--gold {
  color: #a38f6a; }

.text--hl {
  background-color: #cfc2a9; }

.title {
  font-size: 24px;
  line-height: 30px; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #a38f6a;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #a38f6a; }

#sec_01 {
  padding: 40px 0 80px;
  background-image: url(img/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
  min-height: 100vh;
  position: relative;
  color: #fff; }
  #sec_01 .logo {
    float: left;
    margin: -20px 0 0 -23px; }
    #sec_01 .logo svg {
      width: 110px;
      fill: #fff; }
  #sec_01 .back_link {
    float: right;
    font-size: 18px;
    line-height: 50px;
    position: relative; }
    #sec_01 .back_link:before {
      position: absolute;
      content: '';
      width: 16px;
      height: 12px;
      left: -25px;
      top: 50%;
      margin-top: -6px;
      background: url(img/ar.png) center no-repeat; }
    #sec_01 .back_link:hover:before {
      -webkit-animation: arrowDown 2s ease infinite;
      animation: arrowDown 2s ease infinite; }
  #sec_01 .main_content {
    margin-top: 90px;
    margin-bottom: 95px; }
    #sec_01 .main_content h1 {
      margin: 50px 0 25px; }
    #sec_01 .main_content .block_text + .block_text {
      margin-top: 25px; }
  #sec_01 .remind_text {
    margin: 25px 0 40px; }
  #sec_01 .sec_img-1 {
    width: 100%;
    max-width: 530px;
    display: block;
    margin: 0 auto; }
  #sec_01 .sec_img-2 {
    margin-bottom: 80px; }
  #sec_01 footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0; }

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes arrowDown {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

#sec_01 a.block_text {
  color: #fff;
  display: block; }
  #sec_01 a.block_text:hover {
    color: #a38f6a; }

footer {
  padding: 15px 0 20px;
  background-color: #202020; }
  footer .politics {
    margin-top: 17px; }
    footer .politics a {
      color: #65666a;
      font-size: 14px; }
    footer .politics a:hover {
      color: #a38f6a; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: 5px;
    margin-bottom: 0px;
    width: 80px;
    float: right; }
    footer .logo_rezart svg {
      width: 80px;
      fill: #fff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: .3s;
      transition: .3s; }
      footer .logo_rezart svg:hover {
        fill: #a38f6a; }

@media (min-width: 768px) and (max-width: 991px) {
  .block_text br {
    display: none; }
  #sec_01 .main_content h1 {
    margin-top: 0; }
  footer .politics a {
    font-size: 13px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #sec_01 .main_content h1 {
    margin-top: 0; } }

@media screen and (max-height: 740px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  [class*='col-'] {
    width: 100%; }
  #sec_01 {
    padding-bottom: 184px; }
    #sec_01 .main_content {
      margin: 40px 0; }
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 20px; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }

@media (max-width: 520px) {
  br {
    display: none; } }
